<h1>ここはトップページです</h1>
<button type="button" class="btn btn-primary animated bounce">Primary</button>

<section class="box">
  <%= render partial: "top" %>
</section>
<section class="box">
  <%= render partial: "vision" %>
</section>
<section class="box">
  <%= render partial: "greeting" %>
</section>
<section class="box">
  <%= render partial: "support_for_venture_companies" %>
</section>
<section class="box">
  <%= render partial: "business" %>
</section>
<section class="box">
  <%= render partial: "company_profile" %>
</section>

