
<section class="box box1">
  <%= render partial: "top" %>
</section>
<section class="box box2">
  <%= render partial: "vision" %>
</section>
<section class="box box3">
  <%= render partial: "greeting" %>
</section>
<section class="box box4">
  <%= render partial: "support_for_venture_companies" %>
</section>
<section class="box box5">
  <%= render partial: "business" %>
</section>
<section class="box box6">
  <%= render partial: "company_profile" %>
</section>

