

<div class="main">
  <section class="section section-blue js-section section1" data-section-name="section1">
    <div class="section1_header__bg"></div>
    <div class="section-content">
      <%= render partial: "top" %>
    </div>
  </section>
  <section class="section section-red js-section section2" data-section-name="section2">
    <div class="section-content">
      <%= render partial: "vision" %>
    </div>
  </section>
  <section class="section section-blue js-section" data-section-name="section3">
    <div class="section-content">
      <%= render partial: "greeting" %>
    </div>
  </section>

  <section class="section section-red js-section" data-section-name="section3">
    <div class="section-content">
      <%= render partial: "support_for_venture_companies" %>
    </div>
  </section>

  <section class="section section-blue js-section" data-section-name="section3">
    <div class="section-content">
      <%= render partial: "business" %>
    </div>
  </section>

  <section class="section section-red js-section" data-section-name="section3">
    <div class="section-content">
      <%= render partial: "company_profile" %>
    </div>
  </section>
  <ul class="pager" id="js-pager"></ul>
</div>
